<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title | replace('<br>', '') }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#e24c4c">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#e24c4c">
    <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<header class="header">
    <a href="/" class="logo header__logo">
        <img class="logo__image" src="/assets/img/logo.png" width="80" height="80" alt="Шарж на Евгения Шабельника">
        <h1 class="logo__title">{{ title | typography | safe }}</h1>
    </a>

    {% set navPages = collections.all | eleventyNavigation %}
    <nav class="menu header__menu">
        <ul class="menu__list">
            {% for entry in navPages %}
                <li class="menu__item{% if entry.url == page.url %} menu__item--active{% endif %}">
                    <a class="menu__link" href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
<main class="main">
    <div class="articles">
        {% for year, items in collections[collectionToRender] | groupby('data.year') %}
            {% for item in items | sort(attribute='fileSlug') %}
                {% set thumbSize = helpers.getThumbSize(item.data.format) %}
                {% set title = [item.data.title, ' № ', item.data.issue, ', ', item.data.year] | join if item.data.issue else item.data.title %}
                <article class="article articles__item">
                    <img class="article__thumb" src="/assets/img/collections/{{ item.data.tags[0] }}/{{ title | slugify }}-thumb.jpg" width="{{ thumbSize.width }}" height="{{ thumbSize.height }}" loading="lazy" alt="{{ title }}{% if item.data.author %}, {{ item.data.author }}{% endif %}">
                    <h2 class="article__title">{{ title | typography }}</h2>
                    {% if item.data.author %}<div class="article__author">{{ item.data.author | typography }}</div>{% endif %}
                    <div class="article__imprint">{{ item.data.publisher if item.data.issue else [item.data.publisher, ', ', item.data.year] | join }}</div>
                    {% if item.data.status %}
                        <div class="article__status">
                            {% for status in helpers.getStatuses() %}
                                <div class="article__status-item{{ ' article__status-item--checked' if status in item.data.status }}"></div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </article>
            {% endfor %}
        {% endfor %}
    </div>
</main>
<footer class="footer">
    <p class="footer__info">Всего на сайте {{ helpers.pluralize(collections.items | length, ['издание', 'издания', 'изданий']) | safe }}: {{ helpers.pluralize(collections.books | length, ['книга', 'книги', 'книг']) | safe }}, {{ helpers.pluralize(collections.magazines | length, ['журнал', 'журнала', 'журналов']) | safe }} и {{ helpers.pluralize(collections.filmstrips | length, ['диафильм', 'диафильма', 'диафильмов']) | safe }}. Чего-то не хватает? <a href="mailto:kripalser@ya.ru?subject=Знаю, что ещё проиллюстрировал Евгений Шабельник!">Напишите мне</a>.</p>
</footer>
</body>
</html>
