<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<header>
    <h1>{{ title }}</h1>
</header>
<main>
    <div class="articles">
        {% for item in collections.items | sort(attribute='data.year') %}
            <article class="article-card articles__item">
                <h2 class="article-card__title">{{ item.data.title }}</h2>
                <div class="article-card__author">{{ item.data.author }}</div>
                <div class="article-card__imprint">{{ item.data.publisher }}, {{ item.data.year }}</div>
            </article>
        {% endfor %}
    </div>
</main>
</body>
</html>
