<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<header class="header">
    <h1 class="header__title">{{ title }}</h1>
</header>
<main>
    <div class="articles">
        {% for item in collections.items | sort(attribute='data.year') %}
            {% set thumbSize = helpers.getThumbSize(item.data.format) %}
            <article class="article articles__item">
                <img class="article__thumb" src="assets/img/{{ item.fileSlug }}-thumb.jpg" width="{{ thumbSize.width }}" height="{{ thumbSize.height }}" alt="{{ item.data.title }}{% if item.data.author %}. {{ item.data.author }}{% endif %}">
                <h2 class="article__title">{{ item.data.title }}</h2>
                {% if item.data.author %}<div class="article__author">{{ item.data.author }}</div>{% endif %}
                <div class="article__imprint">{{ item.data.publisher }}, {{ item.data.year }}</div>
            </article>
        {% endfor %}
    </div>
</main>
</body>
</html>
