body {
  padding: 1.5rem;
  margin: 0;
  font-family: sans-serif;
  color: #2e2c23;
  background-color: #f3f0e0;
}

.header__title {
  margin: 0 0 2rem;
  font-size: 1.5rem;
}

.articles {
  max-width: 1920px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .articles {
    display: grid;
    align-items: baseline;
    grid-gap: 4rem 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .articles {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1600px) {
  .articles {
    grid-template-columns: repeat(5, 1fr);
  }
}

.article {
  margin-top: 4rem;
  text-align: center;
}

@media (min-width: 640px) {
  .article {
    margin-top: 0;
  }
}

.article__title,
.article__author,
.article__imprint {
  font-size: 1.125rem;
}

.article__title {
  margin: .75rem 0 0;
  font-weight: normal;
}

.article__author,
.article__imprint {
  opacity: .65;
}
