body {
  padding: 2rem;
  margin: 0;
  font-family: sans-serif;
}

header,
main {
  max-width: 640px;
  margin: 0 auto;
}

.article-card {
  padding: 1rem 0;
  border-top: 1px solid #ccc;
}

.article-card__title,
.article-card__author,
.article-card__imprint {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.article-card__author,
.article-card__imprint {
  color: #666;
}
