---
import { pluralize } from '@utils';

import { getCollection } from 'astro:content';

const books = (await getCollection('books'));
const magazines = (await getCollection('magazines'));
const filmstrips = (await getCollection('filmstrips'));
const items = [...books, ...magazines, ...filmstrips];
---

<style lang="scss">
    footer {
        padding: 1rem;
        font-weight: 700;
        text-align: center;
        border: var(--width-divider) solid var(--color-divider);

        a {
            color: var(--color-accent);

            &:hover {
                text-decoration: underline;
            }
        }
    }
</style>

<footer>
    <div class="container">
        {/* Can't style dynamically generated elements: https://github.com/withastro/astro/issues/4380 */}
        <span set:html={`Всего на сайте ${pluralize(items.length, ['издание', 'издания', 'изданий'])}: ${pluralize(books.length, ['книга', 'книги', 'книг'])}, ${pluralize(magazines.length, ['журнал', 'журнала', 'журналов'])} и ${pluralize(filmstrips.length, ['диафильм', 'диафильма', 'диафильмов'])}.`}></span>
        <span>Чего-то не хватает? <a href="mailto:kripalser@ya.ru?subject=Знаю, что ещё проиллюстрировал Евгений Шабельник!">Напишите мне</a>.</span>
    </div>
</footer>
