---
import { pluralize } from '@utils';

import { getCollection } from 'astro:content';

const books = (await getCollection('books'));
const magazines = (await getCollection('magazines'));
const filmstrips = (await getCollection('filmstrips'));
const items = [...books, ...magazines, ...filmstrips];
---

<footer class="footer">
    <p class="footer__info" set:html={`Всего на сайте ${pluralize(items.length, ['издание', 'издания', 'изданий'])}: ${pluralize(books.length, ['книга', 'книги', 'книг'])}, ${pluralize(magazines.length, ['журнал', 'журнала', 'журналов'])} и ${pluralize(filmstrips.length, ['диафильм', 'диафильма', 'диафильмов'])}. Чего-то не хватает? <a href="mailto:kripalser@ya.ru?subject=Знаю, что ещё проиллюстрировал Евгений Шабельник!">Напишите мне</a>.`}></p>
</footer>
