---
import { Link } from '@types';

export interface Props {
    item: Link;
    hasChildren?: boolean;
}

const { item, hasChildren } = Astro.props;

const url = new URL(Astro.request.url);
// Top-level items / child items / nested items like blog posts
const isCurrent = url.pathname === item.url || item.children?.some((child) => url.pathname === child.url) || url.pathname.startsWith(`${item.url}/`);
---

{hasChildren ? (
<a class:list={['nav-link dropdown-toggle', { 'active': isCurrent } ]} href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{item.label}</a>
) : (
    <a class:list={['nav-link', { 'active': isCurrent } ]} href=`${item.url}` aria-current={isCurrent ? 'page' : false}>{item.label}</a>
)}
